# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [ ]:
# Details Student 1:
Hadar Asher, 207767005, hadarasher99@gmail.com
# Details Student 2:
Or Milles, 322721663

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [2]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [3]:
# word net installation:

# unmark if you want to use and need to install
!pip install wn
!python -m wn download omw-he:1.4

Requirement already satisfied: wn in c:\users\hadar\anaconda3\lib\site-packages (0.9.4)
Requirement already satisfied: requests in c:\users\hadar\anaconda3\lib\site-packages (from wn) (2.28.1)
Requirement already satisfied: tomli in c:\users\hadar\anaconda3\lib\site-packages (from wn) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hadar\anaconda3\lib\site-packages (from requests->wn) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hadar\anaconda3\lib\site-packages (from requests->wn) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hadar\anaconda3\lib\site-packages (from requests->wn) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hadar\anaconda3\lib\site-packages (from requests->wn) (1.26.11)

Cached file found: C:\Users\hadar\.wn_data\downloads\7ecf10e89326bc0ac26ad94b40fe60a7b6ac3302

Checking C:\Users\hadar\AppData\Local\Temp\tmpx9_ktwbm\omw-he\omw-he.xml
Skipping omw-he:1.4 (Hebrew Wordnet); already added

In [4]:
# word net import:

# unmark if you want to use:
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Collecting hebrew_tokenizer
  Downloading hebrew_tokenizer-2.3.0.tar.gz (13 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: hebrew_tokenizer
  Building wheel for hebrew_tokenizer (setup.py): started
  Building wheel for hebrew_tokenizer (setup.py): finished with status 'done'
  Created wheel for hebrew_tokenizer: filename=hebrew_tokenizer-2.3.0-py3-none-any.whl size=13418 sha256=8d9ea9661966400959a086735d3c850046111a46ba33feebdd3d3c2656fb56c4
  Stored in directory: c:\users\hadar\appdata\local\pip\cache\wheels\a7\2f\af\95d5eb2e7c291753542d4419e200429a22fb2d74e3f27d7711
Successfully built hebrew_tokenizer
Installing collected packages: hebrew_tokenizer
Successfully installed hebrew_tokenizer-2.3.0

In [5]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\hadar\text_analysis

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [56]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [57]:
df_train.head(3)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f

(753, 2)

In [58]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

### Data Cleansing

In [59]:
df_train.describe(include='all')

                                                    story gender
count                                                 753    753
unique                                                749      2
top     בשנה האחרונה נדבקתי וחליתי בנגיף הקורונה. עד ה...      m
freq                                                    2    575

There are no missing data.</br>
We can see that there are few duplicates. We'll found and drop them.

In [60]:
df_train.duplicated().sum()

3

In [61]:
df_train.drop_duplicates(inplace=True)

In [62]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750 entries, 0 to 752
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   story   750 non-null    object
 1   gender  750 non-null    object
dtypes: object(2)
memory usage: 17.6+ KB

In [63]:
df_train.dtypes

story     object
gender    object
dtype: object

<b>Feature Engeneering -</b></br>
Transfer 'gender'column from string values to numeric

In [64]:
df_train['gender']=df_train['gender'].replace({'m':0,'f':1})
df_train.head(3)

                                               story  gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...       0
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...       0
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...       1

## Visualizations

In [ ]:
# barplot of male and female statistics

## text analysis

starting with cleaning the text, keeping Hebrew characters only

In [65]:
def keep_hebrew(text):
    return re.sub(r'[^א-ת\s]', '', text)

In [66]:
def tokenize_hebrew(text):
    tokens = ht.tokenize(text)
    return ' '.join([token[1] for token in tokens])  # Extract the token string from the tuple

In [67]:
df_train['story'] = df_train['story'].apply(keep_hebrew)
df_train['story_tokenized'] = df_train['story'].apply(tokenize_hebrew)
df_train.head(5)

,story,gender,story_tokenized
0,כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...,0,כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...
1,לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...,0,לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...
2,מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...,1,מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...
3,כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...,0,כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...
4,הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכים...,1,הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכים...

starting with tokenization using hebrew_tokenizer

### Text Vectorization

In [68]:
vectorizer = CountVectorizer()
train_features = vectorizer.fit_transform(df_train['story_tokenized'])

### Train Model

#### split the train set to X set and y

In [71]:
#train Naive Bayes model
classifier = MultinomialNB()
classifier.fit(train_features, df_train['gender'])

MultinomialNB()

#### use Cross Validation

In [77]:
f1_scores = cross_val_score(classifier, train_features, df_train['gender'], cv=5, scoring='f1')
# Calculate the mean F1 score
mean_f1 = np.mean(f1_scores)
print("Mean F1 Score:",mean_f1)

Mean F1 Score: 0.12444509277628661

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [ ]:
df_predicted.to_csv('classification_results.csv',index=False)